bootstrap-admin==0.4.0
certifi==2018.11.29
chardet==3.0.4
cos-python-sdk-v5==1.6.5
dicttoxml==1.7.4
Django==2.2.24
django-cors-headers==2.4.0
django-crontab==0.7.1
djangorestframework==3.9.0
idna==2.8
PyMySQL==0.9.3
pytz==2018.9
requests==2.21.0
six==1.12.0
urllib3==1.24.1
uWSGI==2.0.17.1
pycryptodome==3.8.2
xlwt==1.3.0
django-filter==2.2.0
drf-yasg==1.16.1
packaging
html2text
python-weixin
wechatpy[cryptography]
